<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript">
		window.exports = {};
	</script>
	
	<link rel="stylesheet" type="text/css" href="/node_modules/launchlet/__compiled/launchlet.css">
	<script type="text/javascript" src="/node_modules/launchlet/__compiled/launchlet.js"></script>
	
	<script type="text/javascript" src="/node_modules/OLSKPact/main.js"></script>
	
	<script type="text/javascript" src="/node_modules/idb-keyval/dist/idb-keyval-iife.js"></script>
	<script type="text/javascript">
		Object.assign(window.exports, idbKeyval);
	</script>
	
	
	<script type="text/javascript" src="/node_modules/OLSKInternational/main.js"></script>
	<script type="text/javascript">
		window.OLSKLocalized = function(translationConstant) {
			return OLSKInternational.OLSKInternationalLocalizedString(translationConstant, <%- JSON.stringify(OLSKLocalizedStringKeys().reduce(function(map, e) {
					map[e] = OLSKLocalized(e);
					return map;
				}, {})) %>);
		};
	</script>

	<script type="text/javascript" src="/main.js"></script>
</head>
<body>

<script src="/<%= OLSKSharedPageControllerSlug %>/ui-behaviour.js"></script>

<button class="OLSKAppToolbarLauncherButton" onclick="OLSKFundBehaviour.InterfaceLauncherButtonDidClick()"></button>

<button id="TestFakeErrorConnection" onclick="OLSKFundBehaviour.InterfaceFakeErrorConnectionButtonDidClick()"></button>

<button id="TestFakeConfirm" onclick="OLSKFundBehaviour.InterfaceFakeConfirmButtonDidClick()"></button>

<button id="TestFakeGrantAuthorized" onclick="OLSKFundBehaviour.InterfaceFakeGrantAuthorizedButtonDidClick()"></button>

</body>
</html>
