<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript">
		window.exports = {};
	</script>
	
	<link rel="stylesheet" type="text/css" href="/node_modules/launchlet/__compiled/launchlet.css">
	<script type="text/javascript" src="/node_modules/launchlet/__compiled/launchlet.js"></script>
	
	<script type="text/javascript" src="/node_modules/OLSKPact/main.js"></script>
	<script type="text/javascript" src="/node_modules/OLSKLocalStorage/main.js"></script>
	<script type="text/javascript" src="/node_modules/cryptico/cryptico.js"></script>
	<script type="text/javascript" src="/node_modules/OLSKCrypto/main.js"></script>
	
	<script type="text/javascript">
		window.OLSKPublicConstants = function (inputData) {
			return <%- JSON.stringify({
				OLSKSharedPageCurrentLanguage,
				OLSK_CRYPTO_PAIR_RECEIVER_PRIVATE: process.env.OLSK_CRYPTO_PAIR_RECEIVER_PRIVATE,
				OLSK_CRYPTO_PAIR_SENDER_PUBLIC: process.env.OLSK_CRYPTO_PAIR_SENDER_PUBLIC,

				OLSK_CRYPTO_PAIR_SENDER_PRIVATE: process.env.OLSK_CRYPTO_PAIR_SENDER_PRIVATE,
				OLSK_CRYPTO_PAIR_RECEIVER_PUBLIC: process.env.OLSK_CRYPTO_PAIR_RECEIVER_PUBLIC,
			}) %>[inputData];
		};
	</script>

	<script type="text/javascript" src="/node_modules/OLSKInternational/main.js"></script>
	<script type="text/javascript">
		window.OLSKLocalized = function(translationConstant) {
			return OLSKInternational.OLSKInternationalLocalizedString(translationConstant, <%- JSON.stringify(OLSKLocalizedStringKeys().reduce(function(map, e) {
					map[e] = OLSKLocalized(e);
					return map;
				}, {})) %>);
		};
	</script>

	<script type="text/javascript" src="/__compiled/main.js"></script>
</head>
<body>

<script src="/<%= OLSKSharedPageControllerSlug %>/ui-behaviour.js"></script>

<p>
	<button class="OLSKAppToolbarLauncherButton" onclick="OLSKFundBehaviour.InterfaceLauncherButtonDidClick()">Launcher</button>
</p>

<p>
	<button id="TestFakeErrorConnection" onclick="OLSKFundBehaviour.InterfaceFakeErrorConnectionButtonDidClick()">FakeErrorConnection</button>
</p>

<p>
	<button id="TestFakeErrorDecryption" onclick="OLSKFundBehaviour.InterfaceFakeErrorDecryptionButtonDidClick()">FakeErrorDecryption</button>
</p>

<p>
	<button id="TestFakeErrorSigning" onclick="OLSKFundBehaviour.InterfaceFakeErrorSigningButtonDidClick()">FakeErrorSigning</button>
</p>

<p>
	<button id="TestFakeErrorExpired" onclick="OLSKFundBehaviour.InterfaceFakeErrorExpiredButtonDidClick()">FakeErrorExpired</button>
</p>

<p>
	<button id="TestFakeGate" onclick="OLSKFundBehaviour.InterfaceFakeGateButtonDidClick()">FakeGate</button>
</p>

<p>
	<button id="TestFakeParamAuthorized" onclick="OLSKFundBehaviour.InterfaceFakeParamAuthorizedButtonDidClick()">FakeParamAuthorized</button>
</p>

<p>
	<strong>OLSKFundDispatchReceive</strong>
	<span id="TestOLSKFundDispatchReceive">0</span>
	<span id="TestOLSKFundDispatchReceiveData">undefined</span>
</p>

</body>
</html>
