<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript">
		window.exports = {};
	</script>
	
	<link rel="stylesheet" type="text/css" href="/node_modules/launchlet/__compiled/launchlet.css">
	<script type="text/javascript" src="/node_modules/launchlet/__compiled/launchlet.js"></script>
	
	<script type="text/javascript" src="/node_modules/OLSKPact/main.js"></script>
	<script type="text/javascript" src="/node_modules/OLSKLocalStorage/main.js"></script>
	<script type="text/javascript" src="/node_modules/OLSKCrypto/main.js"></script>
	
	<script type="text/javascript">
		window.OLSKPublicConstants = function (inputData) {
			return <%- JSON.stringify({
				OLSKSharedPageCurrentLanguage,
				OLSK_CRYPTO_PAIR_RECEIVER_PRIVATE: process.env.OLSK_CRYPTO_PAIR_RECEIVER_PRIVATE,
				OLSK_CRYPTO_PAIR_SENDER_PUBLIC: process.env.OLSK_CRYPTO_PAIR_SENDER_PUBLIC,
			}) %>[inputData];
		};
	</script>

	<script type="text/javascript" src="/node_modules/OLSKInternational/main.js"></script>
	<script type="text/javascript">
		window.OLSKLocalized = function(translationConstant) {
			return OLSKInternational.OLSKInternationalLocalizedString(translationConstant, <%- JSON.stringify(OLSKLocalizedStringKeys().reduce(function(map, e) {
					map[e] = OLSKLocalized(e);
					return map;
				}, {})) %>);
		};
	</script>

	<script type="text/javascript" src="/main.js"></script>
</head>
<body>

<script src="/<%= OLSKSharedPageControllerSlug %>/ui-behaviour.js"></script>

<button class="OLSKAppToolbarLauncherButton" onclick="OLSKFundBehaviour.InterfaceLauncherButtonDidClick()"></button>

<button id="TestFakeErrorConnection" onclick="OLSKFundBehaviour.InterfaceFakeErrorConnectionButtonDidClick()"></button>

<button id="TestFakeErrorExpired" onclick="OLSKFundBehaviour.InterfaceFakeErrorExpiredButtonDidClick()"></button>

<button id="TestFakeConfirm" onclick="OLSKFundBehaviour.InterfaceFakeConfirmButtonDidClick()"></button>

<button id="TestFakeParamAuthorized" onclick="OLSKFundBehaviour.InterfaceFakeParamAuthorizedButtonDidClick()"></button>

</body>
</html>
